* {
box-sizing:border-box;
font-family:Arial;
}
html, body{
height:100%;
width:100%;
padding:0;
}
body{
background-color: #03a9f4;
}
main {
margin:auto;
}
.nav {
width: 800px;
max-width:8cm;
min-width:7cm;
margin: 10px;
padding:10px;
float:left;
background:white;
}
h1 {
font-size:22px;
margin: 10px;
}
ul{
list-style-type:none;
margin-left:auto;
margin-right:auto;
padding:0;
}
h2 {
font-size:18px;
margin: 10px;
}

h3 {
font-size:14px;
margin: 10px;
}
li {
padding-left:30px;
}
a {
color: black;
}
a:link {
text-decoration: none;
color: black;
}

a:visited {
text-decoration: none;
color: black;
}

li:hover {
text-decoration: underline;
background:#78909c;
}

a:active {
    text-decoration: underline;
}
iframe{
width:80%;
height:1000px;

}
